@import url(reset.css);
@import url(global.css);
@import url(banner.css);
@import url(modal.css);

section {
  scroll-margin-top: 8rem;
}

header {
  background: #000;
  height: 9rem;
  padding: 0 4rem;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav > a > img {
  width: 10rem;
  margin-inline: 1rem;
}
.nav_menu {
  display: flex;
  color: var(--primary-font-color);
  font-size: 2rem;
  font-weight: 600;
  align-items: center;
  gap: 2rem;
}

.nav_menu > li:hover {
  color: var(--primary-font-hover);
  cursor: pointer;
}

.menu {
  color: var(--primary-font-color);
  font-size: 6rem;
  display: none;
}

#ourServices {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  color: var(--primary-font-color);
  margin-bottom: 2rem;
}

.ourServicesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleCaregory {
  font-size: 2rem;
  color: var(--primary-font-color);
  margin-top: 2rem;
}

.ourServicesList {
  margin: 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  color: var(--primary-font-color);
}

.ourServicesList > li {
  width: 240px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 2px solid var(--primary-font-color);
  border-radius: 10px;
  cursor: pointer;
}

.ourServicesList > li > h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.ourServicesList > li:hover {
  transform: scale(1.1);
  transition: 0.5s;
  border: 2px solid var(--primary-font-hover);
}

.ourServicesList > li > img {
  width: 60%;
}

#location {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.fa-whatsapp {
  position: fixed;
  left: 20px;
  bottom: 60px;
  background-color: #25d366;
  color: #fff;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px #888;
}

footer > p {
  margin: 1rem auto;
  color: var(--primary-font-color);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav_menu {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .nav_menu {
    font-size: 1.2rem;
  }
  nav > a > img {
    width: 8rem;
  }
}
@media (max-width: 480px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -30rem;
    left: 0;
    width: 100%;
    background-color: #1d1d20;
    padding-block: 2rem;
    gap: 3rem;
    z-index: -2;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .ourServicesList > li {
    width: 280px;
    height: 200px;
  }

  #location > iframe {
    width: 375px;
    height: 280px;
  }

  .show_menu {
    animation: slideDown 500ms;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-30rem);
    }
    100% {
      transform: translateY(38rem);
    }
  }
}

.menu_final_position {
  top: 8rem;
}
